<!doctype html>
<html>
	<head>
		<title>AGL Assessment Programming</title>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			<div class="systemError">{{systemError}}</div>
			<ul>
				<li ng-repeat="(gender, catNames) in catNamesByGender">
					{{gender}}
					<ul>
						<li ng-repeat="catName in catNames">{{catName}}</li>
					</ul>
				</li>
			</ul>
		</div>
		<script src="./js/libs/lodash.js"></script>
		<script src="./js/libs/angular.min.js"></script>
		<script src="./js/app.js"></script>
		
	</body>
</html>